<div class="flex items-center h-[100vh] bg-slate-50/75">
	<section class="w-[50%] h-[500px] bg-white shadow-2xl rounded-md m-auto relative">
		<ul class="flex items-center space-x-8 font-semibold text-base text-slate-700 border-b-[1px] p-6">
			<li><button>Importants</button></li>
			<li><button>Tasks</button> <span id="contador" class="px-[8px] py-[2px] text-base text-purple-500 bg-gray-100 rounded-[50%]">0</span></li>
		</ul>
		<button onclick="addNewTask()" title="Add Task" class="text-slate-600 group font-normal absolute top-0 right-0 p-6">New task <i class="fa-solid fa-circle-plus text-slate-600 group-hover:text-slate-800"></i></button>
	</section>
</div>