label {
	display: none;
}
input {
	width: 100%;
}
/* Estilos del formulario para agregar nueva tarea */
#checkbox {
	width: 3%;
}
#id_name {
	font-family: 'Roboto';
	padding: 10px 15px;
	border-radius: 5px;
	color: rgb(80, 80, 80);
}
#id_name:focus {
	outline: 1px solid rgb(196, 196, 196);
}
#id_summary {
	font-family: 'Roboto';
	padding: 10px 15px;
	border-radius: 5px;
	color: rgb(80, 80, 80);
	width: 100%;
	margin-top: 10px;
	height: 100px;
}
#id_summary:focus {
	outline: 1px solid rgb(196, 196, 196);	
}
/* Estilos del formulario para actualizar las tareas */
#input_name {
	font-family: 'Roboto';
	padding: 10px 15px;
	border-radius: 5px;
	color: rgb(80, 80, 80);
}
#input_name:focus {
	outline: 1px solid rgb(196, 196, 196);
}
#text_summary {
	font-family: 'Roboto';
	padding: 10px 15px;
	border-radius: 5px;
	color: rgb(80, 80, 80);
	width: 100%;
	margin-top: 10px;
	height: 100px;
}
#text_summary:focus {
	outline: 1px solid rgb(196, 196, 196);	
}
#checkbox_update {
	width: 3%;
}
@media screen and (max-width: 540px ) {
	#checkbox {
		width: 5%;
	}
}
/* Estilos de la barra de scroll */
::-webkit-scrollbar {
    width: 8px;
    border-radius: 10px;
    background-color: rgb(170, 170, 170);
}
::-webkit-scrollbar-thumb {
    background-color: rgb(52, 50, 54);
    border-radius: 10px;
}